@import "reset";
@import "variables";
@import "header";
@import "footer";

html, body {
  height: 100%;
  line-height: $base-line-height;
}

.main-section {
  padding-top: $header-height;
  min-height: 100%;
  margin-bottom: -$footer-height;
}

.main-section:after {
  content: "";
  display: block;
  height: $footer-height;
}
