<div class="start-view">
  <div class="start-view__information-container">
    <div class="start-view__image-container">
      <img src="/" class="start-view__image" />
    </div>

    <div class="start-view__information">
      Some information about the free and reduced lunch program.
    </div>
  <div>

  <button class="start-view__start-application-button button">Start Application</button>
  <a class="start-view__resume-application-link link">Resume Application</a>
<div>
